@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
      html {
        scroll-behavior: smooth;
      }
      /* custom scroll bar */
      html::-webkit-scrollbar {
        width: 0.5rem;
        background-color:#020307;
      }
      html::-webkit-scrollbar-thumb {
        background-color: #ff2c1f;
        border-radius: 5rem;
      }
  
      body {
        font-family: 'Poppins', sans-serif;
        background: #020307;
        color: #fff;
      }


      .navbar{
        a{
          position: relative;
          &.active{
            border-bottom: 3px solid #ff2c1f;
          }
          &::after{
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 0;
            height: 2px;
            background: #ff2c1f;
            transition: width 0.3s ease-in-out;
          }
          &:hover::after{
            border-bottom: 3px solid #ff2c1f;
            width: 100%;
          }
         
        }
      }
      .hero-img{
      background-image: url(img/home3.jpg);
      }
      .box {
        .box-img {
          width: 100%;
          height: 270px;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: pointer;
            transition: 0.2s all linear;
          }
          img:hover {
            transform:translateY(-10px);
          }

        }
        h3{
          font-size: 0.9rem;
          font-weight: 500;
          color: #ff2c1f;
        }
        span{
          font-size: 13px;
          color: #fff;
        }
      }


      .text-black {
        color: #020307 !important;
    }

      
}